body {
  margin: 0;
}
.atmContainer {
  margin: 0 auto;
  border: solid #f3efc9;
  background-color: #f38a1e;
  width: 100%;
}

.miniScreen {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  border: solid #f3efc9;
}

/* Mini Screen - Left Side Pannel */

.leftPannel {
  display: block;
  width: 25%;
  padding-top: 50px;
}

.leftPannelButtonOne,
.leftPannelButtonTwo,
.leftPannelButtonThree,
.leftPannelButtonFour {
  display: block;
  justify-content: space-evenly;
  background-color: #f3efc9;
  border: solid #bb692d;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
}

/* Side Pannel Button Options */
.optionButton {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.blankButton {
  width: 50%;
  padding: 50px;
}

.otherAmountDeposit,
.otherAmountWithdraw {
  border: solid black;
  width: 50%;
  padding: 15px;
  margin: 15px auto;
}

.otherAmountDepositSubmit,
.otherAmountWithdrawSubmit {
  display: block;
  margin: 0 auto;
  padding: 8px;
  border-radius: 20px;
  background-color: green;
  color: white;
}

/* Mini Screen - Right Side Pannel */

.rightPannel {
  display: block;
  width: 25%;
  padding-top: 50px;
}

.rightPannelButtonOne,
.rightPannelButtonTwo,
.rightPannelButtonThree,
.rightPannelButtonFour {
  display: block;
  justify-content: space-evenly;
  background-color: #f3efc9;
  border: solid #bb692d;
  text-align: center;
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  border-radius: 15px;
}

.rightPannelButtonOne:hover,
.rightPannelButtonTwo:hover,
.rightPannelButtonThree:hover,
.rightPannelButtonFour:hover,
.leftPannelButtonOne:hover,
.leftPannelButtonTwo:hover,
.leftPannelButtonThree:hover,
.leftPannelButtonFour:hover {
  background: orange;
  color: white;
  cursor: pointer;
}

/* Deposit Option Buttons */
.depositHeader,
.withdrawHeader {
  display: block;
  color: #f3efc9;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.otherAmountButton {
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  text-transform: uppercase;
}

/* Main ATM Screen */
.mainScreen {
  background-image: url("https://media.istockphoto.com/id/1405625261/vector/acorn-cartoon-seamless-pattern-isolated-vector-illustration-on-white-background-oak-tree.jpg?s=612x612&w=0&k=20&c=00CPSTd_tXEBr-V0SO4S2-XxyobrhGpXMFxmfb_t_N0=");
  border: solid #f3efc9;
  width: 50%;
  text-align: center;
  padding-top: 50px;
}

.insideScreen {
  background-color: #bb692d;
  color: #f3efc9;
  margin: 0 auto;
  padding: 15px;
  border: solid #f38a1e;
  border-radius: 20px;
  width: 75%;
  height: 75%;
}

.insideHeader {
  text-transform: uppercase;
}

.mainImg {
  height: 55%;
}

.pinScreen {
  border: solid #f3efc9;
  margin: 0 auto;
  padding: 25px;
  width: 30%;
}

/* Show Balance Buttons */
.showSavings,
.showChecking {
  background-color: #f3efc9;
  color: #bb692d;
  border: none;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.showSavings:hover,
.showChecking:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.newTransaction {
  background-color: #f38a1e;
  border: none;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

/* Selection Left Side Pannel */
.insideLeft {
  height: 100%;
  width: 25%;
}

/* keypad */

.keypad {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.rowOne,
.rowTwo,
.rowThree,
.rowFour {
  display: flex;
  justify-content: space-evenly;
}

.key {
  display: block;
  border: solid #bb692d;
  background-color: #f3efc9;
  padding: 20px;
  width: 25%;
  text-align: center;
  font-size: 30px;
}

.key:hover {
  background-color: orange;
  color: white;
  cursor: pointer;
}

.cancel {
  background-color: red;
  color: aliceblue;
  text-transform: uppercase;
}

.clear {
  background-color: yellow;
  text-transform: uppercase;
}

.enter {
  background-color: green;
  color: aliceblue;
  text-transform: uppercase;
}

.help {
  background-color: blueviolet;
  color: aliceblue;
  text-transform: uppercase;
}

.cancel,
.clear,
.enter,
.help {
  cursor: pointer;
}

/* links */
a {
  text-decoration: none;
  color: white;
}

a .optionButton {
  color: black;
}
