.atmContainer {
  margin: 0 auto;
  border: solid lightgray;
}

.miniScreen {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* Mini Screen - Left Side Pannel */

.leftPannel {
  display: block;
  border: solid darkgrey;
  width: 25%;
}

.leftPannelButtonOne,
.leftPannelButtonTwo,
.leftPannelButtonThree,
.leftPannelButtonFour {
  display: block;
  justify-content: space-evenly;
  border: solid lightgrey;
  text-align: right;
  width: 75%;
  margin: 20px auto;
  padding: 20px;
}

/* Side Pannel Button Options */
.optionButton {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 20px;
}

.otherAmountDeposit,
.otherAmountWithdraw {
  border: solid black;
  width: 50%;
  padding: 15px;
  margin: 15px auto;
}

.otherAmountDepositSubmit,
.otherAmountWithdrawSubmit {
  display: block;
  margin: 0 auto;
  padding: 8px;
  border-radius: 20px;
  background-color: green;
  color: white;
}

/* Mini Screen - Right Side Pannel */

.rightPannel {
  display: block;
  width: 25%;
  border: solid darkgray;
}

.rightPannelButtonOne,
.rightPannelButtonTwo,
.rightPannelButtonThree,
.rightPannelButtonFour {
  display: block;
  justify-content: space-evenly;
  border: solid lightgray;
  text-align: left;
  width: 75%;
  margin: 20px auto;
  padding: 20px;
}

.rightPannelButtonOne:hover,
.rightPannelButtonTwo:hover,
.rightPannelButtonThree:hover,
.rightPannelButtonFour:hover,
.leftPannelButtonOne:hover,
.leftPannelButtonTwo:hover,
.leftPannelButtonThree:hover,
.leftPannelButtonFour:hover {
  background: lightblue;
  color: white;
  cursor: pointer;
}

/* Side Pannel BUtton Directional Arros */
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 60px;
}

/* Left Side Pannel Arrow */
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/* Right Side Pannel Arrow */
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/* Deposit Option Buttons */
.depositHeader,
.withdrawHeader {
  display: block;
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}

.otherAmountButton {
  font-size: 28px;
  text-align: center;
}

/* Main ATM Screen */
.mainScreen {
  border: solid black;
  width: 50%;
  text-align: center;
}

.mainImg {
  height: 55%;
}

.pinScreen {
  border: solid grey;
  margin: 0 auto;
  padding: 25px;
  width: 30%;
}

.thankyouMessage {
  display: none;
}

/* Show Balance Buttons */
.showSavings,
.showChecking {
  background-color: turquoise;
  border: none;
  padding: 10px;
  border-radius: 20px;
}

.showSavings:hover,
.showChecking:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* Selection Left Side Pannel */
.insideLeft {
  height: 100%;
  width: 25%;
}

/* keypad */

.keypad {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.rowOne,
.rowTwo,
.rowThree,
.rowFour {
  display: flex;
  justify-content: space-evenly;
}

.key {
  display: block;
  border: solid darkgray;
  background-color: lightgray;
  padding: 20px;
  width: 25%;
  text-align: center;
  font-size: 30px;
}

.key:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer;
}

.cancel {
  background-color: red;
}

.clear {
  background-color: yellow;
}

.enter {
  background-color: green;
}

.cancel,
.clear,
.enter {
  cursor: pointer;
}

/* links */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
  cursor: pointer;
}
